/* fonts start */
@font-face {
    font-family: Merriweather-Regular;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
    font-family: Merriweather-Italic;
    src: url(../fonts/Merriweather/Merriweather-Italic.ttf);
}
@font-face {
    font-family: Merriweather-Bold;
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
}

/* fonts end */
// variables start
$fontSecondary: "Merriweather-Regular";
$fontSecondaryItalic: "Merriweather-Italic";
$fontSecondaryBold: "Merriweather-Bold";

$colorPrimary: #ffffff;
$colorSecondary: #000000;
// variables end